<div class="main-content">
    <div class="container-fluid">
      
      <mat-card>
        <mat-card-title>
          <button mat-raised-button (click)="addParts()" class="btn btn-fill btn-primary pull-right">
            Add Model
          </button>  
        </mat-card-title>
       
        <mat-card-content>
          <mat-form-field class="col-md-3 col-md-offset-4">
            <mat-label>Search Model</mat-label>
            <input matInput class="form-control" type="text" [(ngModel)]="filterValue"
          (blur)="filterParts(filterValue)" placeholder="Search Parts">
          </mat-form-field>
          <mat-table #table [dataSource]="dataSource" matSort>
           
            <!-- Second Column -->
            <ng-container matColumnDef="sl">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Sl No. </mat-header-cell>
              <mat-cell *matCellDef="let element;let i = index"> {{(i+1)}} </mat-cell>
            </ng-container>

             <!-- Fourth Column -->
             <ng-container matColumnDef="model_number">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Model Number </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.model}} </mat-cell>
            </ng-container>
  
            <!-- Third Column -->
            <ng-container matColumnDef="part_number">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Part Number </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{element.part_number}}
              </mat-cell>
            </ng-container>

             <!-- Third Column -->
             <ng-container matColumnDef="bath_number">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Bath Number </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{element.bath_number_denominator}}
              </mat-cell>
            </ng-container>
           
            <!-- Action Column -->
            <ng-container matColumnDef="operation">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Operation </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                  color="" (click)="editPart(element._id)">
                  <mat-icon class="livis-warning">edit</mat-icon>
                </button> 
                <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
                  color="" (click)="deletePartInfo(element._id)">
                  <mat-icon class="livis-danger">delete</mat-icon>
                </button> 
                </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </mat-card-content>
        <mat-card-content>
            <mat-paginator #paginator [length]="resultsLength"
                [pageSize]="5"
                [pageSizeOptions]="[1,5, 10, 20]">
            </mat-paginator>
        </mat-card-content>
    </mat-card>
      
       
    </div>
</div>

  <!-- Add Parts Modal -->
  <div class="modal fade" id="add-part-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog card">
      <div class="modal-content">
        <div class="modal-header card-header">
          <h4 class="modal-title card-title">Add Model</h4>
          <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="material-icons">clear</i>
          </button>
        </div>
        <div class="modal-body card-body">
            <!-- <div class="card">  -->
          <form [formGroup]="partsForm" novalidate (submit)="addNewPart(partsForm)">
            
            <div class="row">
            <mat-form-field class="col-md-6">
              <input matInput formControlName="model" placeholder="Model Number *" type="text">
              <mat-error *ngIf="isSubmitted && !partsForm.controls.model.valid" class="text-danger">
                Model Number is required .
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-6">
              <input matInput formControlName="part_number" placeholder="Part Number *" type="text">
              <!-- {{partsForm.controls}} -->
              <mat-error *ngIf="partsForm.controls.part_number.errors">
                <mat-error *ngIf="isSubmitted && partsForm.controls.part_number.errors.required" class="text-danger">
                    Part Number is required .
                </mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-6">
              <input matInput formControlName="bath_number_denominator" placeholder="Total Bath *" type="text">
              <!-- {{partsForm.controls}} -->
              <mat-error *ngIf="partsForm.controls.bath_number_denominator.errors">
                <mat-error *ngIf="isSubmitted && partsForm.controls.bath_number_denominator.errors.required" class="text-danger">
                    Total Bath  is required .
                </mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-6">
              <input matInput formControlName="plugged_cell_percent" placeholder="Plugged Cell Percentage *" type="number">
            
              <mat-error *ngIf="isSubmitted && partsForm.controls.plugged_cell_percent.errors">
                <mat-error *ngIf="partsForm.controls.plugged_cell_percent.errors.required" class="text-danger">
                  Plugged Cell Percentage is required .
                </mat-error>
                <mat-error *ngIf="isSubmitted && partsForm.controls.plugged_cell_percent.errors?.pattern" class="text-danger">
                  Plugged Cell Percentage is not valid .
                </mat-error>
            </mat-error>
            </mat-form-field>
          </div>
          <div class="row specification-wrap">
          <div class="model-specification-wrap col-md-4 available-box-wrap">
            <small class="text-muted">(Drag and Drop elements to Feature and Defect Grid)</small>
            <h5>Available Defect and Feature List</h5>
          
            <div
              cdkDropList
              #availableList="cdkDropList"
              [cdkDropListData]="availables"
              [cdkDropListConnectedTo]="[featureList,defectList]"
              class="feature-list"
              (cdkDropListDropped)="drop($event)">
              <div class="feature-box" *ngFor="let item of availables" cdkDrag>{{item | livisUnderscorePipe | titlecase}}</div>
            </div>
          </div>
          
          <div class="model-specification-wrap col-md-4 feature-box-wrap">
            <h5>Enabled Features</h5>
          
            <div
              cdkDropList
              #featureList="cdkDropList"
              [cdkDropListData]="features"
              [cdkDropListConnectedTo]="[availableList,defectList]"
              class="feature-list"
              (cdkDropListDropped)="drop($event)">
              <div class="feature-box" *ngFor="let item of features" cdkDrag>{{item | livisUnderscorePipe | titlecase}}</div>
            </div>
          </div>

          <div class="model-specification-wrap defect-box-wrap col-md-4">
            <h5>Enabled Defects</h5>
          
            <div
              cdkDropList
              #defectList="cdkDropList"
              [cdkDropListData]="defects"
              [cdkDropListConnectedTo]="[featureList,availableList]"
              class="feature-list"
              (cdkDropListDropped)="drop($event)">
              <div class="feature-box" *ngFor="let item of defects" cdkDrag>{{item | livisUnderscorePipe | titlecase}}</div>
            </div>
          </div>
        </div>
            <div class="category form-category">* Required fields</div>
            <div class="modal-footer">
                <button mat-raised-button type="button" class="btn btn-fill btn-dark" data-dismiss="modal">Close</button>
                <button mat-raised-button type="submit" class="btn btn-fill btn-primary">Submit</button>
               
              </div>
          </form>
          <!-- </div> -->
        </div>
       
      </div>
    </div>
  </div>
  <!--  End Modal -->


  <!-- EDIT Parts Modal -->
  <div class="modal fade" id="edit-part-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog card">
      <div class="modal-content">
        <div class="modal-header card-header">
          <h4 class="modal-title card-title">Edit Model</h4>
          <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="material-icons">clear</i>
          </button>
        </div>
        <div class="modal-body card-body">
            <!-- <div class="card">  -->
          <form [formGroup]="partsFormEdit" novalidate (submit)="updatePartInfo(partsFormEdit)">
            <mat-form-field class="invisible-field">
                <input matInput type="text"  formControlName="_id">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="edit_model" placeholder="Model Number *" type="text">
              <mat-error *ngIf="isSubmitted && !partsFormEdit.controls.edit_model.valid" class="text-danger">
                Model Number is required .
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput formControlName="edit_part_number" placeholder="Part Number *" type="text">
              <!-- {{partsForm.controls}} -->
              <mat-error *ngIf="partsFormEdit.controls.edit_part_number.errors">
                <mat-error *ngIf="isSubmitted && partsFormEdit.controls.edit_part_number.errors.required" class="text-danger">
                    Part Number is required .
                </mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput formControlName="edit_bath_number_denominator" placeholder="Bath Number *" type="number">
              <!-- {{partsForm.controls}} -->
              <mat-error *ngIf="partsFormEdit.controls.edit_bath_number_denominator.errors">
                <mat-error *ngIf="isSubmitted && partsFormEdit.controls.edit_bath_number_denominator.errors.required" class="text-danger">
                    Part Number is required .
                </mat-error>
              </mat-error>
            </mat-form-field>
            
            <div class="category form-category">* Required fields</div>
            <div class="modal-footer">
                <button mat-raised-button type="button" class="btn btn-fill btn-dark" data-dismiss="modal">Close</button>
                <button mat-raised-button type="submit" class="btn btn-fill btn-primary">Submit</button>
               
              </div>
          </form>
          <!-- </div> -->
        </div>
       
      </div>
    </div>
  </div>
  <!--  End Modal -->
