@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  input {
    width: 100%;
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  h6 {
    color: gray;
  }

  .header {
    margin-left: 38px;
  }

  .cancel {
    margin-right: 1rem;
  }

  .buttons-bottom {
    margin-top: 24px;
    margin-right: 0.5rem;

    button {
      margin-right: 15px;
    }
  }
  .expCard {
    height: 80vh;
    width: 50vw;
    padding: 1rem;
    h4 {
      text-align: center;
    }
  }

  table,
  th,
  td {
    width: 50%;
    border: 1px solid gray;
  }

  th,
  td {
    padding: 5px;
  }

  th {
    background-color: rgba(0, 149, 255, 0.08);
  }

  .labelName {
    text-transform: capitalize;
  }

  .mat {
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 99, 71);
  }

  .matRow {
    display: flex;
    flex: 1;
  }

  .matCell {
    color: #4d4d4d;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid coral;
    box-sizing: border-box;
    word-wrap: anywhere;
    overflow-y: hidden;
  }

  .live {
    background-color: greenyellow;
    padding: 5px;
    float: right;
    color: white;
  }
}
