/* You can add global styles to this file, and also import other style files */
.icon-status-active{
    color: #37c5ab;
}
.icon-status-inactive{
    color: #D93900;
}

.invisible-field
{
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}

.invisible-element
{
    display: none !important;
}

.timepicker-overlay{ 
    z-index: 1200 !important; 
}
.htime-wrap
{
    display: flex !important;
    width: 100%;
    height: 30px;
    justify-content: center;
}

.htime-wrap p
{
    height: 30px;
    background-color: #ff5a60;
    width: 80px;
    padding: 4px 8px;
    color: #ffffff;
    border-radius: 15px;
    font-weight: 500;
}

.livis-primary
{
    color: #ff5a60;
}

.livis-primary-bg
{
    background-color: #ff5a60;
}

.livis-info
{
    color: #00BCD4;
}

.livis-info-bg
{
    background-color: #00BCD4;
}

.livis-success
{
    color: #37C5AB;
}

.livis-success-bg
{
    background-color: #37C5AB;
}

.livis-warning
{
    color: #FFB606;
}

.livis-warning-bg
{
    background-color: #FFB606;
}

.livis-danger
{
    color: #D93900;
}

.livis-danger-bg
{
    background-color: #D93900;
}

.livis-rose
{
    color: #FD79A8;
}

.livis-rose-bg
{
    background-color: #FD79A8;
}

.livis-inverse
{
    color: #10073C;
}

.livis-inverse-bg
{
    background-color: #10073C;
}

.livis-default
{
    color: #999999;
}

.livis-default-bg
{
    background-color: #999999;
}

.livis-rosealt
{
    color: #E84393;
}

.livis-rosealt-bg
{
    background-color: #E84393;
}

.mat-button.btn, .mat-raised-button.btn, .mat-raised-button.btn:not([class*=mat-elevation-z]), .btn {
    padding: 8px 15px;
}
.livis-search-btn
{
    outline: none !important;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important; 
    /* background-image: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ) !important;
    background-size: 200% 200% !important;
    opacity: 0 !important; */
}

.sidebar .logo-img-large {
    /* width: 42px;
    max-height: 42px; */
}

.sidebar .logo-img-large img{
    width: 66px;
    margin-top: -5px;

}

.sidebar .logo-img img {
    width: 35px;
    top: 19px;
}
.livis-bold-text
{
    font-weight: 500;
}
.livis-close-btn
{
    margin-right: 10px !important;
}

.livis-text-color
{
    color: #10073c !important;
}

.mat-option.mat-selected:not(.mat-option-multiple){
    background-color: #ff5a60 !important;
    color: white !important;
}

.mat-option:hover {
    background-color: #ff5a60 !important;
    color: white !important;
}

.mat-option.mat-selected:hover{
    background-color: #ff5a60 !important;
    color: white !important;
}

/* .body-container .mat-button {
font-size: small !important;
} */