<div class="pageHeader row">
    <span class="heading">All Trainings</span>
    <div>
      <div class="pullRight">
        <i class="livis-search-icon control-icon ion ion-ios-search"
           (click)="showInput()"></i>
        <input placeholder="Search Trainings..."
               #input
               [(ngModel)]="search_text"
               [class.hidden]="!isInputShown"
               class="searchInput"
               (blur)="hideInput()"/>
      </div>
    </div>
  </div>
  
  <div class="row">
    <nb-card style="width: 100%">
      <nb-card-body>
        <table  class="">
          <tr>
            <th>Experiment Name</th>
            <th>Experiment Type</th>
            <th>Status</th>
          
          </tr>

          <!-- <tr  (click)="viewDeployment('ds')">
            <td>Clip Presence</td>
            <td>Detection</td>
            <td>Running</td>
          
          </tr> -->
          <tr *ngFor="let item of deployments | filterByPartNumber:search_text" class="expRow" (click)="viewDeployment(item)">
            <td>{{ item.experiment_name | titlecase}}</td>
            <td>{{ item.experiment_type | titlecase}}</td>
            <td>{{ item.status | titlecase}}</td>
           
          </tr>
        </table>
      </nb-card-body>
    </nb-card>
  </div>  