<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul *ngIf="!user_deatail">
        <li>
          <a href="https://www.lincode.ai">
            Lincode
          </a>
        </li>
        <li>
          <a href="https://www.lincode.ai">
            About Us
          </a>
        </li>
        <li>
          <a href="https://www.lincode.ai">
            Blog
          </a>
        </li>
      </ul>

      <ul *ngIf="user_deatail">
        <li>
          Copyright &copy; 2020 LINCODE
        </li>
       
      </ul>
    </nav>
  </div>
</footer>
