@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  input {
    width: 100%;
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  .header {
    margin-left: 38px;
  }


  .cancel {
    margin-right: 1rem;
  }

  .buttons-bottom {
    margin-top: 24px;
    margin-right: 0.5rem;

    button {
      margin-right: 15px;
    }
  }

  .closeBtn {
    width: 100%;

    * {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  .addExperimentSteps {
    height: 500px;
    width: 800px;
    h4 {
      text-align: center;
    }
  }

  .review {
    text-align: right;
    font-weight: bold;
  }

  .experiment-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    label {
      line-height: 2.3rem;
    }
  }
}

.custom-type-select{
  margin-top: 8px !important;
}

.editor-tag {
  cursor: text;
  font-size: 16px;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
  background: white;
  border: 1px #ccc solid;
  max-width: 97%;
  margin-left: 12px;
}
.editor-tag .tag-item {
  line-height: 20px;
  border-radius: 14px;
  height: 20px;
  font-size: 14px;
  display: inline-block;
  background: #0095ff;
  padding-left: 5px;
  color: white;
}
.editor-tag .tag-item .remove-tag {
  padding-right: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.editor-tag .tag-item:not(:first-child) {
  margin-left: 5px;
}
.editor-tag input {
  margin: 0;
  padding-left: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
}
