<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon card-header-primary">
                      <div class="card-icon">
                        <i class="material-icons">email</i>
                      </div>
                      <h4 class="card-title">Outgoing Mail Server</h4>
                      <mat-icon class="edit-email-config-btn">edit</mat-icon>
                    </div>
                    <div class="card-body">
                           <table class="table">
                               <tr>
                                   <th>Account Type</th>
                                   <td>IMAP</td>
                                   <th>User Name</th>
                                   <td>Ritika</td>
                               </tr>

                               <tr>
                                    <th>Server Port</th>
                                    <td>8080</td>
                                    <th>Authemtication</th>
                                    <td>Password</td>
                                </tr>

                                <tr>
                                    <th>SSL/TLS</th>
                                    <td>YES</td>
                                    <th>Server Hostname</th>
                                    <td>smtp.lincode.com</td>
                                </tr>
                           </table>   
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon card-header-primary">
                      <div class="card-icon">
                        <i class="material-icons">email</i>
                      </div>
                      <h4 class="card-title">Outgoing Mail Server</h4>
                     
                      <mat-icon class="edit-email-config-btn">edit</mat-icon>
                    
                    </div>
                    <div class="card-body">
                           <table class="table">
                               <tr>
                                   <th>Account Type</th>
                                   <td>IMAP</td>
                                   <th>User Name</th>
                                   <td>Ritika</td>
                               </tr>

                               <tr>
                                    <th>Server Port</th>
                                    <td>8080</td>
                                    <th>Authemtication</th>
                                    <td>Password</td>
                                </tr>

                                <tr>
                                    <th>SSL/TLS</th>
                                    <td>YES</td>
                                    <th>Server Hostname</th>
                                    <td>smtp.lincode.com</td>
                                </tr>
                           </table>   
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>        